/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/* line 21, ../sass/screen.scss */
div#option-container ul.options li.active {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 41, ../sass/screen.scss */
div#option-container ul.options li.active div {
  text-align: center;
  max-width: 100%;
}
/* line 45, ../sass/screen.scss */
div#option-container ul.options li.active div.banner {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
/* line 57, ../sass/screen.scss */
div#option-container ul.options li.active div.option {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
/* line 72, ../sass/screen.scss */
div#option-container ul.options li .option .can {
  min-width: 150px;
  min-height: 250px;
  padding: 10px;
  background-color: #eee;
  margin: 30px;
  text-align: center;
  font-weight: 900;
  border-radius: 15px;
}
/* line 83, ../sass/screen.scss */
div#option-container ul.options li .option .landfill {
  background-color: #222;
  color: #fafafa;
}
/* line 88, ../sass/screen.scss */
div#option-container ul.options li .option .recycle {
  background-color: #3255A4;
  color: #fafafa;
}
/* line 93, ../sass/screen.scss */
div#option-container ul.options li .option .compost {
  background-color: #4d7f17;
  color: #fafafa;
}
/* line 98, ../sass/screen.scss */
div#option-container ul.options li .option span.select {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* line 103, ../sass/screen.scss */
div#option-container ul.options li .option span.select:hover {
  filter: brightness(175%);
  -webkit-filter: brightness(175%);
}
/* line 114, ../sass/screen.scss */
div#trash-container {
  position: absolute;
  bottom: 0;
  min-height: 300px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  background-color: #aaa;
  padding: 20px;
  font-size: 30pt;
}
/* line 125, ../sass/screen.scss */
div#trash-container.correct {
  background-color: #79c879;
  color: #fff;
}
/* line 131, ../sass/screen.scss */
div#trash-container .trash-img img {
  max-width: 300px;
  max-height: 300px;
}
/* line 138, ../sass/screen.scss */
div ul {
  list-style-type: none;
}
/* line 141, ../sass/screen.scss */
div ul li {
  display: none;
}
/* line 144, ../sass/screen.scss */
div ul li.active {
  display: initial;
}
